body {
  font: 15px Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.name-link {
  font-size: 1.5rem;
}

#logo {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  margin: 2rem;
}

footer > * {
  margin-top: 2rem;
}

.footer-icon {
  width: 2rem;
  height: 2rem;
  object-fit: scale-down;
}

.page-container {
  text-align: center;
}

/* Slideshow for index.html */
.slideshow-container {
  text-align: center;
}

.image-slide {
  object-fit: cover;
  width: 85%;
}

/* about.html */

#my-photo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  font-size: 1.5rem;
}

/* work.html */

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: 300px;
}

.project-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-img {
  background-image: url(images/test1.jpg);
  background-size: cover;
}

.project-container > p {
  opacity: 0;
}

/* .header > * {
    border: 1px solid red;
} */
