.header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.point-inline {
  display: flex;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  padding: 0;
  margin: 0;
}

/* .header > * {
    border: 1px solid red;
} */
